body {
    text-align: center;
}
code {
    font-family: monospace;
    color: black;
    background-color: grey;
    padding: auto;
    font-size: 100%;
}
h2 {
    color: green;
}
h3 {
    color: #8888ee;
}
textarea {
    width: 500px;
}
article {
    border: solid;
    text-align: center;
}
.css-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
}
.css-grid-units {
    display: grid;
    grid-template-columns: auto 50px 10% 2fr 1fr;
}